*,
*::before,
*::after{
    box-sizing: border-box;
}
p,h1,h2,h3{
    padding: 0px;
}

.showBtn{
    background-color: aquamarine;
    color: gray;
    border: 1px solid gray;
}
.showBtn:hover{
    background-color: rgb(88, 186, 153);
    color: black;
    border: 1px solid black;
}
.showArea{
    color: green;
    font-size: 20px;
    line-height: 24px;
}
